/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    color: #000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #000080; /* Azul escuro */
}

a {
    color: #000080; /* Azul escuro */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contador {
    font-size: 2em;
    font-weight: bold;
    color: #000080; /* Azul escuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #000080; /* Azul escuro */
}

.imagem {
    position: absolute;
    top: 100px;
    left: 100px;
}

.contador {
    font-size: 24px; /* Tamanho da fonte */
    color: #FF5733; /* Cor do texto (neste caso, um tom de laranja) */
    font-weight: bold; /* Negrito *
}
